.project-left img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

.project-right img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

.project-left {
  display: grid;
  grid-template-columns: 50vh 50vh;
}

.project-right {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.project-text {
  padding-left: 200px;
  align-items: left;
}

.projects {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
